@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;400;700&display=swap');
@import url('navbar.css');

body {
    background-color: rgb(63, 63, 63);
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    color:rgb(224, 224, 224);
}

.container {
    display:flex;
    justify-content: center;
}

.text-content-box {
    max-width: 640px;
}

h2 {
    color: rgb(224, 224, 224);
    font-weight: 700;
    font-size: 24px;
    text-shadow: #2e2e2e 3px 3px 0;
}

h3 {
    color: rgb(224, 224, 224);
    font-weight: 700;
    font-size: 20px;
    text-shadow: #2e2e2e 3px 3px 0;
}

p {
    margin: 1em 0;
}

a {
    font-weight: 400;
    padding: 0 1em;
    color:rgb(224, 224, 224);
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: #2e2e2e 1px 1px 0;
    position: relative;
    top: 0px;
    display: inline-block;
    transition: color 0.2s ease-in-out, top 0.1s ease-in-out;
}

a:hover {
    color: #fff;
    top: -2px;
}

.image-right img {
    width: 256px;
    position: relative;
    top: 3em;
    -webkit-box-shadow: 3px 3px 5px 0px #00000075; 
    box-shadow: 3px 3px 5px 0px #00000075;
}

.text-subsection {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    line-height: 36px;
    word-spacing: 3px;
    padding: 4em 0;
}

.text-subsection .text-portion {
    padding-right: 1em;
}