@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;400;700&display=swap');
@import url('navbar.css');
body {
    background-color: rgb(63, 63, 63);
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    color: rgb(224, 224, 224);
}

.container {
    display: flex;
    justify-content: center;
    background-color: #ccc;
    overflow: hidden;
    min-height: 100vh;
    padding-top: 2em;
}

.text-content-box {
    width: 640px;
    padding: 150px 100px 50px 100px;
    background-color: #555;
    margin: 30px;
    position: relative;
    margin-top: -100px;
    margin-bottom: -100px;
}

.text-content-box:before {
    box-shadow: -20px 0 20px -20px #333 inset;
    content: " ";
    height: 100%;
    left: -20px;
    position: absolute;
    top: 0;
    width: 20px;
}

.text-content-box:after {
    box-shadow: 20px 0 20px -20px #333 inset;
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    right: -20px;
    width: 20px;
}

h2 {
    color: rgb(224, 224, 224);
    font-weight: 700;
    font-size: 24px;
    text-shadow: #2e2e2e 3px 3px 0;
}

h3 {
    color: rgb(224, 224, 224);
    font-weight: 700;
    font-size: 20px;
    text-shadow: #2e2e2e 3px 3px 0;
}

p {
    margin: 1em 0;
}

a {
    color: rgb(224, 224, 224);
    text-decoration: underline;
    text-shadow: #2e2e2e 1px 1px 0;
    transition: color 0.2s ease-in-out;
    text-decoration-style: dotted;
}

a:hover {
    color: #fff;
}

.image-right img {
    width: 256px;
    position: relative;
    top: 3em;
    -webkit-box-shadow: 3px 3px 5px 0px #00000075;
    box-shadow: 3px 3px 5px 0px #00000075;
}

.text-subsection {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    line-height: 36px;
    word-spacing: 3px;
    padding: 4em 0;
}

.text-subsection .text-portion {
    padding-right: 1em;
}

.game-block {
    display: block;
    width: 90%;
    text-align: center;
    margin: 1em auto;
    padding: 2em 0;
    border: solid black 1px;
    background-color: rgba(0,0,0,.3);
    border-radius: 4px;
    font-size: 24pt;
    -webkit-box-shadow: 3px 3px 5px 0px #00000075; 
    box-shadow: 3px 3px 5px 0px #00000075;
    text-decoration: none;
}